
* {
  box-sizing: border-box;
}
.gallery{
  margin: 0;
  font-family: Arial;
  background-color: black;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: black;
  color: white;
}

li a:hover:not(.active) {
  background-color: grey;
  color: white;
}

.sidebar {
  margin: 2px;
  padding: 2px;
  width: 17%;
  position: fixed;
  top: 45%;
  height: 100%;
  overflow: hidden;
}

.sidebar a {
  display: block;
  color: black;
  background-color: white;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: black;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: grey;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

a,h4,h2{
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.profnav {
  position: fixed;
  z-index: 2;
  top: 70%;
  left: 43%;
  background: white;
  overflow-x: hidden;
  font-family: Arial;

}

.profnav a {
  padding: 2% 2% 2% 2%;
  text-decoration: none;
  font-size: 20px;
  color: #111;
  display: block;
}

.profnav a:hover {
  color: grey;
}
.profile img{
  border-radius: 50%;
  position:center;
  padding-top: 4%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}

.fa:hover {
    opacity: 0.3;
}
.fa-facebook {
  color: white;
  padding: 2% 2% 2% 2%;

}
.fa-linkedin {
  color: white;
  padding: 2% 2% 2% 2%;

}
.fa-instagram {
  color: white;
  padding: 2% 2% 2% 2%;

}
.logoshome{
  position: fixed;
  top: 93%;
  left: 47%;
  overflow-x: hidden;
}
.logos{
  left: 47%;
  overflow-x: hidden;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -100;
}
.btn {
  position: fixed;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#myBtn {
  width: 12%;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: white;
  color: black;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
/*type writer from https://css-tricks.com/snippets/css/typewriter-effect/*/
.typewriter h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
  padding-top:5%; 
  font-size: 30px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 10s steps(30, end),
    blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
h2,h4{
  color:white ;
}
h3{
  color: white; 
  font-size: 20px;
  text-align:  center;
  white-space: nowrap;
  overflow: hidden;
  width: 40em;
  animation: type 9s steps(60, end); 
}

h3:nth-child(2){
  animation: type2 9s steps(60, end);
}

h3:nth-child(3){
  animation: type3 9s steps(60, end);
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes type3{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
}
h4.about {
  margin-left: 15em;
  margin-right:15em;
}

